<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434660184571-43lb19l6mskmrf15nvjpu3c7uru39k9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434660184571-43lb19l6mskmrf15nvjpu3c7uru39k9v</string>
	<key>API_KEY</key>
	<string>AIzaSyD4I7Dz8S4FATMY9QdO-AaUVRiOjNq7biw</string>
	<key>GCM_SENDER_ID</key>
	<string>434660184571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-auth-6aaba</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-auth-6aaba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434660184571:ios:e65c90839b073e9abffb5e</string>
</dict>
</plist>